In [24]:
import sys
import os
sys.path.append(os.path.abspath('..'))

In [25]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
from src.data.data_generator import generate_classpass_data

In [27]:
df = generate_classpass_data(50000)
df.to_csv("../data/classpass_data.csv", index = False)

df["prob"].describe()

count    50000.000000
mean         0.391562
std          0.156720
min          0.069474
25%          0.269970
50%          0.375468
75%          0.500728
max          0.899153
Name: prob, dtype: float64

In [28]:
df.head()

,persona,class_type,credit_price,current_streak,social_score,days_since_last_booking,prob,booked
0,Balanced Burner,Heated Mat Pilates,20,77,0.411497,15,0.367827,0
1,Mindful Muse,Lagree,10,44,0.693939,23,0.308226,0
2,Pilates Princess,Heated Mat Pilates,10,36,0.460541,25,0.345308,0
3,Mindful Muse,HIIT,7,95,0.998785,2,0.712901,1
4,Mindful Muse,Yoga Sculpt,10,14,0.426685,15,0.526145,1

In [29]:
df["booked"].mean()

np.float64(0.3907)